@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* reset code */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* start code */
body {
    align-items: center;
    background-color: hsl(212, 46%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flex {
    display: flex;
    flex-direction: column;
}
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow:0 0 5px rgba(31, 50, 81, 0.1);
    font-family: Outfit;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    width: 270px;
}
.card img {
    border-radius: 10px;
    margin-bottom: 25px;
}
.card h2 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin-bottom: 20px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
